/**********************************/
/*   Style sheet for maths.html   */
/**********************************/

html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
}

main h1 {
    font-size: 1.7rem;
}

.quiz {
    display: flex;
    flex-direction: column-reverse;
}

.questions-box {
    margin: auto;
    flex-grow: 1;
    max-width: 600px;
    min-width: 375px;
    padding-right: 2rem;
}

.settings-box {
    margin: auto;    
    max-width: 350px;
    background-color: #eee;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 2em;
    filter: drop-shadow(0em 0em 1em rgba(0, 0, 0, 0.5));
}

#settings-form label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.25em;
    width: 100%;
}

#player-name {
    padding: 0.25em;
    width: 100%;
}

#quiz-type {
    padding: 0.25em;
    width: 100%;
}

#questions-per-round {
    padding: 0.25em;
    width: 25%;
    text-align: center;
}

#settings-form label[for="keep-score"], #keep-score {
    display: inline;
    vertical-align:-webkit-baseline-middle;
}

.form-item {
    padding: 0.25em 0em 1em;
}

p {
    text-align: justify;
    max-width: 600px;
}

p::selection {
    color: white;
    background-color: hotpink;
}

.main-navigation {
    margin-left: 1rem;
    margin-top: 1rem;
}

.big-button, button, .main-navigation a {
    font-family: inherit;
    font-size: 1.25rem;
    background-color: #023047;
    color: white;
    border-radius: 1em;
    border: none;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-left: 0.5em solid #ffb703;
    padding: 0.2em 1.5em;
    margin: 0.2em 0.2em;
    text-decoration: none;
    filter: drop-shadow(0.2em 0.2em 0.3em #023047);
    transition-duration: 0.4s;
}

button:hover, .main-navigation a:hover {
    background-color: #fd9e02;
    color: white;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 4em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 1em;
    filter: drop-shadow(0.2em 0.2em 0.3em #706677);
    transition-duration: 0.4s;
}

button:active, .main-navigation a:active {
    background-color: #126782;
    color: white;
    filter: drop-shadow(0.1em 0.1em 0.2em #706677);
}

.big-button,
#top-question,
.correct-answer,
#question,
.correct,
.wrong,
#answer,
.end-of-play {
    font-size: 1rem;
    padding: 1em 2em;
}

label[for="answer"] {
    display: block;
    text-align: left;
    color: #706677;
    font-size: 1rem;
    margin: 3rem 0rem 1rem;
}

#remaining-questions {
    font-weight: bold;
} 

#top-question, 
#question, 
#answer,
.correct-answer, 
.correct, 
.wrong, 
.end-of-play {
    width: fit-content;
    color: white;
    border-radius: 1em;
    filter: drop-shadow(0em 0em 0.5em rgba(0, 0, 0, 0.5));
}

#top-question {
    text-align: left;
    background-color: #fd9e02;
}

#question {
    background-color: #126782;
}

#answer {
    min-width: 5em;
    max-width: 10em;
    color: #023047;
    background-color: #eee;
    border: none;
}

#final-score {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.wrong {
    margin-left: 5rem;
    background-color: darkred;
}

.correct {
    background-color: green;
}

.correct-answer {
    color: #126782;
    background-color: whitesmoke;
    margin-left: 5rem;
}

.end-of-play {
    color: white;
    background-color: #fd9e02;
}

.correction-text {
    color: darkred;
    font-weight: bold;
    font-size: 1.1em;
}

.question-title {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 1em;
}

li>p {
    color:#126782;
}

p a {
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

.equation {
    color:#ffb703;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    padding: 0.25em 0.5em;
}

.hint {
    color:#fd9e02;
}